h1{
  text-align: center;
  color: rgb(0, 0, 0);
}
body{
  text-align: center;
  background-color: rgb(231, 231, 231);
  font-size: larger;
}

section{
  background-color: white;
  height: 550px;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 3px;
}

#Internet{
  background-color: rgb(231, 231, 231);
  color: green;
  border-color: black;
  height: 70px;
  margin-top: 8rem;
}
#Net{
  background-color: rgb(231, 231, 231);
  color: green;
  border-color: black;
  height: 70px;
  margin-top: 1rem;
}