/*intro*/
h1 {
    text-align: center;
    border: 50px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-style: normal;
    display: inline;
    margin: 0;
    vertical-align: top;
}
h2{
    text-align: center;
    font-size: 50px;
}

header{
    background-color: white;
    display: inline-block;
    margin-left: 38px;
}

.Pad,.Pad1{
    display: inline-block;
    width: 200px;
}


body {

    color: black;
    font-style: italic;
    font-style: normal;
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: left;
    border-left: none;
    border-right: 5px;
    box-sizing: content-box;
    background-image: url("../images/Blur.Wallpapers.19.jpg");
    font-size: larger;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: calc(2px);
}

a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
}

a:hover {
    color: red;
    text-decoration: underline;
    font-style: italic;}

tr {
    background-color: rgb(206, 217, 228);
    color: white;
    text-align: center;
    width: 50px;
}

table {
    width: 900px;
    align-content: center;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
section {
    background-color: white;
    border-radius: 3px;
    margin-left: 7rem;
    margin-right: 7rem;
    padding-left: 15px;
    padding-bottom: 40px;
}
#search1{
    display: inline;
    width: 250px;
    height: 35px;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 20px;
}
form{
    display: inline;
    float: right;
}
#search{
    width: 80px;
    height: 25px;
    font-weight: bold;
}

#search:hover{
    opacity: 0.7;
}
#search:active{
    opacity: 0.4;
}

.intro{
    display: inline-block;
    vertical-align: top;
    position: relative;
    bottom: 0%;
}
/*Game Download*/

.picture{
    width: 450px;
    display: block;
}
.discription{
    text-align: center;
    display: inline-block;
    
}
h2{
    margin-bottom: 0;
}
.Download{
    position: relative;
    left: 37.5%;
    background-color: rgba(73, 228, 255, 0.650);
    width: 250px;
    height: 55px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    text-align: center;
    padding-top: 27.5px;
}
.Download:hover{
    opacity: 0.7;
}
.Download:active{
    opacity: 0.4;
}
.shot{
    position: relative;
    left: 45%;
    color: rgb(201, 201, 201);
}








